<ion-tabs (ionTabsDidChange)="onTabsDidChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contacts" href="/tabs/contacts">
      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon name="checkbox-outline" aria-hidden="true"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fruits" href="/tabs/fruits">
      <ion-icon name="nutrition-outline" aria-hidden="true"></ion-icon>
      <ion-label>Frutas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
